@model OptimalEducation.DAL.Models.ParticipationInOlympiad

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<h3>Вы действительно уверены, что хотите удалить результаты?</h3>
<div>
    <h4>Участие в олимпиаде</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Olympiad.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Olympiad.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
