@model IEnumerable<OptimalEducation.DAL.ViewModels.AssignedHobbie>

@{
    ViewBag.Title = "Index";
}

<h2>Хобби, увлечения</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @foreach (var hobbie in Model)
        {
            <div class="form-group">
                <label>
                    <input type="checkbox"
                           name="selectedHobbies"
                           value="@hobbie.Id"
                           @(Html.Raw(hobbie.IsAssigned ? "checked=\"checked\"" : "")) />
                    @hobbie.Name
                </label>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*@section Scripts {
    <script src="@WebpackConfigWatcher.Assets.validation.js"></script>
}*@
