@model Dictionary<string, double>
@{
    ViewBag.Title = "Index";
}

<h2>Вычисленные предпочтения пользователя</h2>
<h3>По предметам</h3>

<div>
    <dl class="dl-horizontal">
        @foreach (var clusterRes in Model)
        {
            <dt>
                @Html.DisplayFor(model => clusterRes.Key)
            </dt>
            <dd>
                @Html.DisplayFor(model => clusterRes.Value)
            </dd>
        }
    </dl>
</div>
<table class="table">
    @{
        var recomendationForEntrant = (ViewBag.RecomendationForEntrant as Dictionary<OptimalEducation.DAL.Models.EducationLine, double>);
    }
    <tr>
        <th>
            Близость
        <th>
            Название направления
        </th>
        <th>
            Код направления
        </th>
        <th>
            Название факультета
        </th>
        <th>
            Название ВУЗ-а
        </th>
        <th></th>
    </tr>

    @foreach (var recomendation in recomendationForEntrant)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => recomendation.Value)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Key.Name)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Key.Code)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Key.Faculty.Name)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Key.Faculty.HigherEducationInstitution.Name)
            </td>
        </tr>
    }

</table>



