@*@model Dictionary<string, double>*@
@{
    ViewBag.Title = "Index";
}
@using System.Globalization;
@using OptimalEducation.DAL.Models;

<h2>Ориентация по предметам</h2>

<h3>Естественно-научные, технические</h3>
<div class="row">
    <dl class="dl-horizontal">
        @{
            var preferences = (ViewBag.Preferences as Dictionary<string, double>);
        }
        @foreach (var characterisicRes in preferences)
        {
            var percentageValue = characterisicRes.Value * 100;
            //Пока так, криво
            if (characterisicRes.Key == "Литература")
            {
                <h3>Гуманитарные, языковые</h3>
            }

            <dt>
                @Html.DisplayFor(model => characterisicRes.Key)
            </dt>
            <dd style="width:200px">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percentageValue.ToString("0.0", CultureInfo.InvariantCulture)%;">
                        @percentageValue.ToString("0.0", CultureInfo.InvariantCulture)%
                    </div>
                </div>
            </dd>
        }
    </dl>
</div>

@*<h3>Метод сравнения расстояний(Евклидова метрика)</h3>
<table class="table">
    @{
        var distanceRecomendations = (ViewBag.DistanceRecomendations as Dictionary<EducationLine, double>);
    }
    <tr>
        <th>
            Близость
        <th>
            Название направления
        </th>
        <th>
            Код направления
        </th>
        <th>
            Название факультета
        </th>
        <th>
            Название ВУЗ-а
        </th>
        <th></th>
    </tr>

    @foreach (var recomendation in distanceRecomendations)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => recomendation.Value)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Key.Name)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Key.Code)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Key.Faculty.Name)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Key.Faculty.HigherEducationInstitution.Name)
            </td>
        </tr>
    }

</table>

<h3>Многокритериальный анализ</h3>
<table class="table">
    @{
        var multicriterialRecomendations = (ViewBag.MulticriterialRecomendations as List<EducationLine>);
    }
    <tr>
        <th>
            Название направления
        </th>
        <th>
            Код направления
        </th>
        <th>
            Название факультета
        </th>
        <th>
            Название ВУЗ-а
        </th>
        <th></th>
    </tr>

    @foreach (var recomendation in multicriterialRecomendations)
    {
        <tr>

            <td>
                @Html.DisplayFor(model => recomendation.Name)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Code)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Faculty.Name)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Faculty.HigherEducationInstitution.Name)
            </td>
        </tr>
    }

</table>

<h3>МАИ</h3>
<table class="table">
    @{
        var aphRecomendations = (ViewBag.APHRecomendations as Dictionary<EducationLine, double>);
    }
    <tr>
        <th>
            Сходство
        <th>
            Название направления
        </th>
        <th>
            Код направления
        </th>
        <th>
            Название факультета
        </th>
        <th>
            Название ВУЗ-а
        </th>
        <th></th>
    </tr>

    @foreach (var recomendation in aphRecomendations)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => recomendation.Value)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Key.Name)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Key.Code)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Key.Faculty.Name)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Key.Faculty.HigherEducationInstitution.Name)
            </td>
        </tr>
    }

</table>*@




