@model Dictionary<string, double>
@{
    ViewBag.Title = "Index";
}

<h2>Вычисленные предпочтения пользователя</h2>
<h3>По предметам</h3>

<div>
    <dl class="dl-horizontal">
        @foreach (var characterisicRes in Model)
        {
            <dt>
                @Html.DisplayFor(model => characterisicRes.Key)
            </dt>
            <dd>
                @Html.DisplayFor(model => characterisicRes.Value)
            </dd>
        }
    </dl>
</div>

<h3>Метод сравнения расстояний(Евклидова метрика)</h3>
<table class="table">
    @{
        var recomendationForEntrant = (ViewBag.RecomendationForEntrant as Dictionary<OptimalEducation.DAL.Models.EducationLine, double>);
    }
    <tr>
        <th>
            Близость
        <th>
            Название направления
        </th>
        <th>
            Код направления
        </th>
        <th>
            Название факультета
        </th>
        <th>
            Название ВУЗ-а
        </th>
        <th></th>
    </tr>

    @foreach (var recomendation in recomendationForEntrant)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => recomendation.Value)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Key.Name)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Key.Code)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Key.Faculty.Name)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Key.Faculty.HigherEducationInstitution.Name)
            </td>
        </tr>
    }

</table>

<h3>Многокритериальный анализ</h3>
<table class="table">
    @{
        var multicriterialRecomendations = (ViewBag.MulticriterialRecomendations as List<OptimalEducation.DAL.Models.EducationLine>);
    }
    <tr>
        <th>
            Название направления
        </th>
        <th>
            Код направления
        </th>
        <th>
            Название факультета
        </th>
        <th>
            Название ВУЗ-а
        </th>
        <th></th>
    </tr>

    @foreach (var recomendation in multicriterialRecomendations)
    {
        <tr>

            <td>
                @Html.DisplayFor(model => recomendation.Name)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Code)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Faculty.Name)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Faculty.HigherEducationInstitution.Name)
            </td>
        </tr>
    }

</table>

<h3>МАИ</h3>
@*<table class="table">
    @{
        var aphRecomendations = (ViewBag.APHRecomendations as List<OptimalEducation.DAL.Models.EducationLine>);
    }
    <tr>
        <th>
            Название направления
        </th>
        <th>
            Код направления
        </th>
        <th>
            Название факультета
        </th>
        <th>
            Название ВУЗ-а
        </th>
        <th></th>
    </tr>

    @foreach (var recomendation in aphRecomendations)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => recomendation.Name)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Code)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Faculty.Name)
            </td>
            <td>
                @Html.DisplayFor(model => recomendation.Faculty.HigherEducationInstitution.Name)
            </td>
        </tr>
    }

</table>*@




