@model OptimalEducation.DAL.Models.EducationLine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EducationLine</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EducationForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EducationForm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneralEducationLine.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneralEducationLine.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneralEducationLine.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneralEducationLine.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreePlacesNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreePlacesNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiredSum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredSum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidPlacesNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidPlacesNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    <hr />
    <h4>Вычисленная ориентация по предметам</h4>
    <hr />

    <div>
        <dl class="dl-horizontal">
            @foreach (var characterisicRes in (ViewBag.CluserResults as Dictionary<string,double>))
            {
                <dt>
                    @Html.DisplayFor(model => characterisicRes.Key)
                </dt>
                <dd>
                    @Html.DisplayFor(model => characterisicRes.Value)
                </dd>
            }
        </dl>
    </div>

    <hr />
    <h4>Рекомендация по выбору учеников</h4>
    <hr />

    <table class="table">
        @{
            var recomendationForEducationLine = (ViewBag.RecomendationForEducationLine as Dictionary<OptimalEducation.DAL.Models.Entrant, double>);
        }
        <tr>
            <th>
                Близость
            <th>
                ФИО
            </th>
            <th>
                Средная оценка
            </th>
            <th>
                Город (откуда)
            </th>
            <th></th>
        </tr>

        @foreach (var recomendation in recomendationForEducationLine)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => recomendation.Value)
                </td>
                <td>
                    @Html.DisplayFor(model => recomendation.Key.FirstName) @Html.DisplayFor(model => recomendation.Key.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => recomendation.Key.AverageMark)
                </td>
                <td>
                    @Html.DisplayFor(model => recomendation.Key.Citizenship)
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
