@model OptimalEducation.DAL.Models.EducationLine

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>EducationLine</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.GeneralEducationLineId, "GeneralEducationLineId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GeneralEducationLineId", String.Empty)
                @Html.ValidationMessageFor(model => model.GeneralEducationLineId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FacultyId, "FacultyId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FacultyId", String.Empty)
                @Html.ValidationMessageFor(model => model.FacultyId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code)
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EducationForm, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EducationForm)
                @Html.ValidationMessageFor(model => model.EducationForm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequiredSum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequiredSum)
                @Html.ValidationMessageFor(model => model.RequiredSum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Actual, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Actual)
                @Html.ValidationMessageFor(model => model.Actual)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaidPlacesNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaidPlacesNumber)
                @Html.ValidationMessageFor(model => model.PaidPlacesNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FreePlacesNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FreePlacesNumber)
                @Html.ValidationMessageFor(model => model.FreePlacesNumber)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
